.main{
  grid-area: m;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.description{
  margin: 0;
  padding: 0;
}
.story{
  display: flex;
  flex-direction: column; 
}
.skills { 
  display: flex;
  flex-direction: column;
  margin: 0px
}

